/**
	Dark mode.

	W zasadzie powinno być jeszcze dla automatu.
	https://pl.wikipedia.org/wiki/Pomoc:Tryb_ciemny#Dostosowywanie_si%C4%99_do_wybranego_motywu
*/

// Elementy edytora kodu.
html.skin-theme-clientpref-night {

	#editform {
		background-color: var(--background-color-base) !important;
	}
	.wikiEditor-ui-toolbar {
		img[alt="Wstaw szablon cytowania"],
		a[rel="code"],
		a[rel="syntaxhighlightInlineWiki"] {
			filter: invert();
		}
	}

}

// Powiadomienia
html.skin-theme-clientpref-night {
	.mw-echo-ui-notificationItemWidget-markAsReadButton {
		.mw-echo-ui-toggleReadCircleButtonWidget-circle-unread {
			background-color: #010;
			border: 1px solid #565;
		}
	}
}