/* wikidata link */
#t-wikibase span::before {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Wikidata-logo-en.svg/16px-Wikidata-logo-en.svg.png);
	background-repeat: no-repeat;
	background-position: center;
	content: " ";
	display: inline-block;
	width: 12px;
	height: 16px;
	padding-right: .5em;
}